{% extends "App/padre.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <div style="background-color: rgb(255, 255, 255) ;"

                        <p></p>
                        <h2 style="color:rgb(126, 126, 126)"> Mi nombre es Florencia Victoria Sosa Alonso.</h2><br>
                        <h2 style="color:rgb(126, 126, 126)">Estoy realizando mi primer página web con lenguaje Python y framework Django.</h2><br>
                        <h2 style="color:rgb(126, 126, 126)">Espero seguir reforzando los conocimientos para ser programadora en ciencia de datos.</h2><br>
                        <h2 style="color:rgb(126, 126, 126)">Gracias a este curso pude ser mas conciente de el íncreible mundo que puede ser programar.</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


{% endblock %}