{% extends "App/padre.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados_List</title>
</head>

<body>
    <h1 style="color:rgb(255, 255, 255)"> Empleados </h1>
    <ul style="color:rgb(255, 255, 255)">
        {% for empleado in object_list %}
            <li>
                <p style="color:rgb(255, 255, 255)"> Nombre: {{empleado.nombre}}</p>
                <p style="color:rgb(255, 255, 255)"> Apellido: {{empleado.apellido}}</p>
                <p style="color:rgb(255, 255, 255)"> DNI: {{empleado.DNI}}</p>
              
            </li>
        {% endfor %}
    </ul>

</body>
</html>

{% endblock %}