<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedor Detalle</title>
</head>
<body>
    <p>Nombre del Proveedor: <i>{{proveedores.razonsocial}}</i></p>
    <p>Producto: <i> {{proveedores.productos}} </i></p>
    <p>Telefono: <i> {{proveedores.telefono}} </i></p>
    <p>Email: <i> {{proveedores.email}} </i></p>
    <p>
        <a href="{% url 'List' %}"> Regresar </a>
    </p>
</body>
</html>